<table class="table table-bordered" id='goat-table' >
    <thead>
        <tr>
            <th><b>Name</b></th>
            <th><b>Age</b></th>
            <th><b>Hot waterbottles eaten</b></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% if ($.isEmptyObject(goats)) { %>
        <tr><td colspan='2'>No Goats Found</td></tr>
        <% } else {
        $.each(goats, function () { %>
        <tr class="number-row" data-id=<%= this.id%>>
            <td><%= this.name%></td>
            <td><%= this.age%></td>
            <td><%= this.hotwater_bottles_eaten%></td>
			<td><button class="btn btn-danger delete-goat-btn" data-id=<%= this.id %>>Delete</button></td>
        </tr>
        <% })
        }
        %>
    </tbody>
</table>
